<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="latmos.myweatherstation">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_remote"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Google MAP API key -> unique for each application -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Here is the APP name defined ()along with the launching activity -->
        <activity
            android:name=".MapsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/main_activity_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />
        <activity
            android:name=".PlotActivity"
            android:label="@string/plot_activity_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RemoteControlActivity"
            android:label="@string/remote_control_activity_name"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".ServerCommunicationService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".RemoteControlNotificationReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".BatteryVoltageBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".AppCompatPreferenceActivity"></activity>
    </application>

</manifest>